.khung {
    width: 85%;
    margin: 40px auto;
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dongTren {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .dongTren .left {
        flex: 0 0 65% !important;
    }

    .dongTren .right img {
        width: 280px;
        height: auto;
        border-radius: 8px;
       
    }

    .dongTren .right {
        flex : 0 0 35% !important ; 
    }

.tieude {
    font-size: 22px;
    font-weight: bold;
    color: #111;
    margin-bottom: 10px;
}

p {
    color :black;
    text-align: justify;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
}

.dongDuoi {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

    .dongDuoi .cot {
        flex: 1;
    }

.label {
    font-weight: bold;
    color: #8B4513; /* nâu nhạt */
    margin-bottom: 5px;
}
